main {
    position: relative;
    padding-top: 84px;
    padding: 84px 70px 0px 70px;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions-container input {
    background-color: #D6E5EB;
    border: solid 1px #81CEEF;
    border-radius: 9px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #041117;
    padding-left: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding: 20px 18px;
    width: 442px;
}

.search-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.actions-container button {
    background-color: #4AB8E8;
    padding: 16px 21px;
    border-radius: 9px;
}

.actions-container button img {
    width: 24px;
}

.button-blue {
    border-radius: 9px;
    padding: 15px 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 700;
}

.button-blue:hover {
    cursor: pointer;
}

.main-area-container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.main-area-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;
}

.filter-button {
    background-color: #0E506C;
    padding: 5px 9px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-button img {
    width: 18px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #041117;
}

.pagination-container {
    align-self: center;
}

nav {
    margin-bottom: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 5px;
    margin: 0;
}

.boxed-button {
    padding: 9px 14px;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 15px;
    border-radius: 9px;
}

.unboxed-button {
    padding: 6px;
}

.unboxed-button img {
    width: 18px;
}

.selected-button {
    background-color: #0E506C;
    color: #F8F9FA;
    font-weight: 600;
}

.unselected-button {
    background-color: #F8F9FA;
    border: solid 1px #CFD9DE;
    color: #041117;
    font-weight: 400;
}
    
.disabled-button {
    background-color: #CFD9DE;
    cursor: default;
}

/*  */

.window-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 26px;
    margin-bottom: 10px;
}

.window-top-container span {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #0E506C;
}

.close-window-button-container button img {
    width: 20px;
}

.filter-window {
    padding: 15px 0px;
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    z-index: 1000; 
}

.clean-button-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.clean-button {
    background-color: #DF1E1E;
    color: #F6F8F9;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 27px;
    border-radius: 9px;
}

.category-button {
    background-color: #D6E5EB;
    display: flex;
    flex-direction: row;
    gap: 28px;
    padding: 10px 43px; 
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #0E506C;
}

.category-button img {
    width: 20px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
    margin: 11px 40px 35px 62px;
}

.option-button {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    padding: 6px 20px;
    border-radius: 100px;
    border: solid 1px;
}

.unselected-filter-option {
    font-weight: 500;
    color: #0E506C;
    background-color: transparent;
}

.hidden {
    display: none;
}