h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.blue-container {
    background-color: #072836;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button-back {
    color: #EDF8FD;
}

.blue-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

.blue-image {
    width: 397px;
    transform: scaleX(-1);
}

.blue-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blue-text-container .logo {
    font-size: 48px;
    color: #F8F9FA;
    padding-bottom: 10px;
}

.blue-text {
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    max-width: 385px;
}

.blue-pure-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blue-text p {
    font-size: 24px;
    font-family: "Google Sans Flex", sans-serif;
}

.slogan {
    color: #B7E3F6;
    font-weight: 500;
    font-style: italic;
}

.text-info {
    color: #EDF8FD;
    font-weight: 400;
}

.button-blue {
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
}

.button-blue:hover {
    cursor: pointer;
}

.text-button {
    width: 200px;
    height: 57px;
    font-size: 16px;
}

.card-button {
    width: 180px;
    height: 44px;
    font-size: 14px;
    margin-top: 10px;
}

.card-button-container {
    align-self: center;
}

section {
    margin-top: 60px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    padding-left: 32px;
    gap: 15px;
}

.card-title {
    color: #0E506C;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.card-title img {
    width: 35px;
}

.card-text {
    font-size: 16px;
    max-width: 295px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.card-text span {
    color: #1CB02A;
    font-weight: 600;
    margin-top: 5px;
}

.shadow-box {
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    font-family: "Google Sans Flex", sans-serif;
    width: max-content;
    gap: 17px;
}